<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CD</title>
    <link rel="stylesheet" href="/css/DVD.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
    <div class="header container">
        <div class="myNav navbar-right">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a href="/client/home" class="logo">
                    <img width="60px" src="/img/logoo.png" alt="">
                </a>
                <a class="navbar-brand" href="/client/home">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="menu">
                        <ul class=" nav  navbar-right">
                            <li class="nav-item active">
                                <a class="nav-link" href="/client/CD" id="CD">CD <span class="sr-only">(current)</span></a>

                                <ul class="item-menu">
                                    <li><a href="">Just In</a></li>
                                    <li><a href="">Best Seller</a></li>
                                    <li><a href="">Clearance</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/client/DVD" id="dvd">DVD</a>

                                <ul class="item-menu">
                                    <li><a href="">Just In</a></li>
                                    <li><a href="">Best Seller</a></li>
                                    <li><a href="">Clearance</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/client/book" id="book">Book</a>

                                <ul class="item-menu">
                                    <li><a href="">Just In</a></li>
                                    <li><a href="">Best Seller</a></li>
                                    <li><a href="">Clearance</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="#" id="magazine">Magazine</a>

                                <ul class="item-menu">
                                    <li><a href="">Just In</a></li>
                                    <li><a href="">Best Seller</a></li>
                                    <li><a href="">Clearance</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">

                                <a href="#" class="nav-link" id="selling-cart"><i class="fas fa-cart-plus"></i>Selling Cart</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" id="checkout">Checkout</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </nav>
        </div>
    </div>

    <div class="main">
        <div class="inner-page container">
            <section class="main-clearfix">
                <h1 class="page-title">JUST IN</h1>
                <hr>
                <div class="just-in-box ">
                    <div class="just-in-tab1">
                        <div class="filter-item">
                            <label>Sort by:</label>
                            <div class="select-container small">
                                <select name="sorttab1" class="select small-drop left">
                                    <option value="3">Movies</option>
                                    <option value="4">Band</option>
                                    <option value="5">Solo</option>
                                    <option value="6">Release year</option>
                                </select>
                            </div>
                        </div>
                        <div class="filter-item">
                            <label>Price range:</label>
                            <div class="select-container x-small">
                                <select name="pricetab1" class="select small-drop left">
                                    <option value="null">From</option>
                                    <option value="0.00">0.00</option>
                                    <option value="1.00">1.00</option>
                                    <option value="2.00">2.00</option>
                                    <option value="5.00">5.00</option>
                                    <option value="10.00">10.00</option>
                                </select>
                            </div>
                        </div>
                        <div class="filter-item">
                            <label>&nbsp;</label>
                            <div class="select-container x-small">
                                <select name="pricetab1" class="select small-drop left">
                                    <option value="null">To</option>
                                    <option value="0.99">0.99</option>
                                    <option value="1.99">1.99</option>
                                    <option value="2.99">2.99</option>
                                    <option value="5.99">5.99</option>
                                    <option value="10.99">10.99</option>
                                </select>
                            </div>
                        </div>
                        <div class="filter-item">
                            <label>&nbsp; </label>
                            <input class="go" type="submit" value="Submit">
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <hr>
        <div class="clear"></div>
        <div class="content container">
            <section class="collapsible">
                <div class="overview row">
                    <div class="item col-2">
                        <div class="popup-container">
                            <a href="https://www.secondspin.com/amgcover/dvd/small/w6/06/w60657p1bvl.jpg" class="product-image">
                                <img src="https://www.secondspin.com/amgcover/dvd/small/w6/06/w60657p1bvl.jpg" alt="">
                            </a>
                        </div>
                        <div class="title">
                            <a href="#" class="black-link">
                                NUN
                            </a>
                        </div>
                        <div class="price">
                            <del>$12.99</del>
                            <span class="red">$10.00</span>
                        </div>
                        <a href="#" class="add-to-cart">Add To Cart</a>
                    </div>
                    <div class="item col-2">
                        <div class="popup-container">
                            <a href="https://www.secondspin.com/amgcover/dvd/small/w5/77/w57713cl0xf.jpg" class="product-image">
                                <img src="https://www.secondspin.com/amgcover/dvd/small/w5/77/w57713cl0xf.jpg" alt="">
                            </a>
                        </div>
                        <div class="title">
                            <a href="#" class="black-link">
                                INCREDIBLES 2
                            </a>
                        </div>
                        <div class="price">
                            <del>$7.99</del>
                            <span class="red">$4.00</span>
                        </div>
                        <a href="#" class="add-to-cart">Add To Cart</a>
                    </div>
                    <div class="item col-2">
                        <div class="popup-container">
                            <a href="https://www.secondspin.com/amgcover/dvd/small/w6/07/w60740hkcs0.jpg" class="product-image">
                                <img src="https://www.secondspin.com/amgcover/dvd/small/w6/07/w60740hkcs0.jpg" alt="">
                            </a>
                        </div>
                        <div class="title">
                            <a href="#" class="black-link">
                                PREDATOR
                            </a>
                        </div>
                        <div class="price">
                            <del>$7.99</del>
                            <span class="red">$4.00</span>
                        </div>
                        <a href="#" class="add-to-cart">Add To Cart</a>
                    </div>
                    <div class="item col-2">
                        <div class="popup-container">
                            <a href="https://www.secondspin.com/amgcover/dvd/small/w1/94/w19492xdnwv.jpg" class="product-image">
                                <img src="https://www.secondspin.com/amgcover/dvd/small/w1/94/w19492xdnwv.jpg" alt="">
                            </a>
                        </div>
                        <div class="title">
                            <a href="#" class="black-link">
                                CREED
                            </a>
                        </div>
                        <div class="price">
                            <del>$7.99</del>
                            <span class="red">$4.00</span>
                        </div>
                        <a href="#" class="add-to-cart">Add To Cart</a>
                    </div>
                    <div class="item col-2">
                        <div class="popup-container">
                            <a href="https://www.secondspin.com/amgcover/dvd/small/w5/78/w57829tst7l.jpg" class="product-image">
                                <img src="https://www.secondspin.com/amgcover/dvd/small/w5/78/w57829tst7l.jpg" alt="">
                            </a>
                        </div>
                        <div class="title">
                            <a href="#" class="black-link">
                                ANT-MAN AND THE WASP
                            </a>
                        </div>
                        <div class="price">
                            <del>$7.99</del>
                            <span class="red">$4.00</span>
                        </div>
                        <a href="#" class="add-to-cart">Add To Cart</a>
                    </div>
                    <div class="item col-2">
                        <div class="popup-container">
                            <a href="https://www.secondspin.com/amgcover/dvd/small/v2/74/v27417kzkbb.jpg" class="product-image">
                                <img src="https://www.secondspin.com/amgcover/dvd/small/v2/74/v27417kzkbb.jpg" alt="">
                            </a>
                        </div>
                        <div class="title">
                            <a href="#" class="black-link">
                                HARRY POTTER: COMPLETE 8-FILM COLLECTION [8 DISCS]
                            </a>
                        </div>
                        <div class="price">
                            <del>$7.99</del>
                            <span class="red">$4.00</span>
                        </div>
                        <a href="#" class="add-to-cart">Add To Cart</a>
                    </div>
                    <div class="item col-2">
                        <div class="popup-container">
                            <a href="https://www.secondspin.com/amgcover/dvd/small/v8/06/v80640fcerw.jpg" class="product-image">
                                <img src="https://www.secondspin.com/amgcover/dvd/small/v8/06/v80640fcerw.jpg" alt="">
                            </a>
                        </div>
                        <div class="title">
                            <a href="#" class="black-link">
                                HOBBIT: THE DESOLATION OF SMAUG [2 DISCS] [ULTRAVIOLET]
                            </a>
                        </div>
                        <div class="price">
                            <span class="red">$8.99</span>
                        </div>
                        <a href="#" class="add-to-cart">Add To Cart</a>
                    </div>
                    <div class="item col-2">
                        <div class="popup-container">
                            <a href="https://www.secondspin.com/amgcover/dvd/small/v8/79/v87919j22eg.jpg" class="product-image">
                                <img src="https://www.secondspin.com/amgcover/dvd/small/v8/79/v87919j22eg.jpg" alt="">
                            </a>
                        </div>
                        <div class="title">
                            <a href="#" class="black-link">
                                TRANSFORMERS: AGE OF EXTINCTION
                            </a>
                        </div>
                        <div class="price">
                            <span class="red">$6.99</span>
                        </div>
                        <a href="#" class="add-to-cart">Add To Cart</a>
                    </div>
                    <div class="item col-2">
                        <div class="popup-container">
                            <a href="https://www.secondspin.com/amgcover/dvd/small/w3/68/w36860umzvc.jpg" class="product-image">
                                <img src="https://www.secondspin.com/amgcover/dvd/small/w3/68/w36860umzvc.jpg" alt="">
                            </a>
                        </div>
                        <div class="title">
                            <a href="#" class="black-link">
                                JOHN WICK: CHAPTER 2
                            </a>
                        </div>
                        <div class="price">
                            <span class="red">$19.99</span>
                        </div>
                        <a href="#" class="add-to-cart">Add To Cart</a>
                    </div>
                    <div class="item col-2">
                        <div class="popup-container">
                            <a href="https://www.secondspin.com/amgcover/dvd/small/w6/03/w60371jqc9c.jpg" class="product-image">
                                <img src="https://www.secondspin.com/amgcover/dvd/small/w6/03/w60371jqc9c.jpg" alt="">
                            </a>
                        </div>
                        <div class="title">
                            <a href="#" class="black-link">
                                DRAGON BALL SUPER: PART SIX
                            </a>
                        </div>
                        <div class="price">
                            <span class="red">$28.99</span>
                        </div>
                        <a href="#" class="add-to-cart">Add To Cart</a>
                    </div>
                    <div class="item col-2">
                        <div class="popup-container">
                            <a href="https://www.secondspin.com/amgcover/dvd/small/zz/zz/zzzz4626902.jpg" class="product-image">
                                <img src="https://www.secondspin.com/amgcover/dvd/small/zz/zz/zzzz4626902.jpg" alt="">
                            </a>
                        </div>
                        <div class="title">
                            <a href="#" class="black-link">
                                FINDING DORY
                            </a>
                        </div>
                        <div class="price">
                            <span class="red">$11.99</span>
                        </div>
                        <a href="#" class="add-to-cart">Add To Cart</a>
                    </div>
                    <div class="item col-2">
                        <div class="popup-container">
                            <a href="https://www.secondspin.com/amgcover/dvd/small/w3/38/w33877vuaws.jpg" class="product-image">
                                <img src="https://www.secondspin.com/amgcover/dvd/small/w3/38/w33877vuaws.jpg" alt="">
                            </a>
                        </div>
                        <div class="title">
                            <a href="#" class="black-link">
                                MONSTER TRUCKS
                            </a>
                        </div>
                        <div class="price">
                            <span class="red">$4.99</span>
                        </div>
                        <a href="#" class="add-to-cart">Add To Cart</a>
                    </div>
                    <div class="item col-2">
                        <div class="popup-container">
                            <a href="https://www.secondspin.com/amgcover/dvd/small/t7/68/t76817ba0d5.jpg" class="product-image">
                                <img src="https://www.secondspin.com/amgcover/dvd/small/t7/68/t76817ba0d5.jpg" alt="">
                            </a>
                        </div>
                        <div class="title">
                            <a href="#" class="black-link">
                                FAMILY STONE [WIDESCREEN]
                            </a>
                        </div>
                        <div class="price">
                            <span class="red">$2.99</span>
                        </div>
                        <a href="#" class="add-to-cart">Add To Cart</a>
                    </div>
                    <div class="item col-2">
                        <div class="popup-container">
                            <a href="https://www.secondspin.com/amgcover/dvd/small/t0/51/t05155fgthj.jpg" class="product-image">
                                <img src="https://www.secondspin.com/amgcover/dvd/small/t0/51/t05155fgthj.jpg" alt="">
                            </a>
                        </div>
                        <div class="title">
                            <a href="#" class="black-link">
                                LIFE [WIDESCREEN]
                            </a>
                        </div>
                        <div class="price">
                            <span class="red">$4.99</span>
                        </div>
                        <a href="#" class="add-to-cart">Add To Cart</a>
                    </div>
                    <div class="item col-2">
                        <div class="popup-container">
                            <a href="https://www.secondspin.com/amgcover/dvd/small/v1/40/v14042c6cys.jpg" class="product-image">
                                <img src="https://www.secondspin.com/amgcover/dvd/small/v1/40/v14042c6cys.jpg" alt="">
                            </a>
                        </div>
                        <div class="title">
                            <a href="#" class="black-link">
                                DOC MARTIN: SERIES 1 [2 DISCS]
                            </a>
                        </div>
                        <div class="price">
                            <span class="red">$6.99</span>
                        </div>
                        <a href="#" class="add-to-cart">Add To Cart</a>
                    </div>
                    <div class="item col-2">
                        <div class="popup-container">
                            <a href="https://www.secondspin.com/amgcover/dvd/small/w0/62/w06287meqki.jpg" class="product-image">
                                <img src="https://www.secondspin.com/amgcover/dvd/small/w0/62/w06287meqki.jpg" alt="">
                            </a>
                        </div>
                        <div class="title">
                            <a href="#" class="black-link">
                                MAN ON WIRE [WIDESCREEN]
                            </a>
                        </div>
                        <div class="price">
                            <del>$4.99</del>
                            <span class="red">$2.99</span>
                        </div>
                        <a href="#" class="add-to-cart">Add To Cart</a>
                    </div>
                    <div class="item col-2">
                        <div class="popup-container">
                            <a href="https://www.secondspin.com/amgcover/dvd/small/t6/60/t66023fa4bo.jpg" class="product-image">
                                <img src="https://www.secondspin.com/amgcover/dvd/small/t6/60/t66023fa4bo.jpg" alt="">
                            </a>
                        </div>
                        <div class="title">
                            <a href="#" class="black-link">
                                ALIENS OF THE DEEP
                            </a>
                        </div>
                        <div class="price">
                            <span class="red">$2.99</span>
                        </div>
                        <a href="#" class="add-to-cart">Add To Cart</a>
                    </div>
                    <div class="item col-2">
                        <div class="popup-container">
                            <a href="https://www.secondspin.com/amgcover/dvd/small/w3/41/w34143my6l4.jpg" class="product-image">
                                <img src="https://www.secondspin.com/amgcover/dvd/small/w3/41/w34143my6l4.jpg" alt="">
                            </a>
                        </div>
                        <div class="title">
                            <a href="#" class="black-link">
                                SPLIT
                            </a>
                        </div>
                        <div class="price">
                            <span class="red">$17.99</span>
                        </div>
                        <a href="#" class="add-to-cart">Add To Cart</a>
                    </div>

                </div>

                <div class="box-bottom clearfix">
                    <div class="page-number">
                        <a href="#" class="button prev "><i class="fas fa-angle-double-left"></i></a>
                        &nbsp;
                        <strong>1</strong>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#">6</a>
                        <a href="#">7</a>
                        <a href="#">8</a>
                        <a href="#">...</a>
                        &nbsp;
                        <a href="#" class="button next"><i class="fas fa-angle-double-right"></i></a>
                    </div>
                </div>

            </section>
        </div>
    </div>
    <div class="clear"></div>

    <div class="main-footer">
        <h2 style="margin-top: 60px;">It's that simple</h2>
        <hr>
        <div class="row" style="clear:both; margin-bottom: 30px;">
            <div class="col-md-4" style="text-align: center;padding-top: 30px; ">
                <p><span class="glyphicons cart_in steps"></span></p>
                <h4>1. Enter items</h4>

                <p>Take the items you want to sell and enter them into the search field in the upper part of the website. If you are interested in the sale you put the item into your selling cart.</p><p>If you want to sell several items use the bulk compare or our Barcode Scanner App.</p>

            </div>
            <div class="col-md-4" style="text-align: center; padding-top: 30px; ">
                <p><span class="glyphicons certificate steps"></span></p>

                <h4>2. Identify best buyers</h4>

                <p>In the shopping cart view, you can see the best buyers, paying you the highest prices for your entire selling cart.</p><p>That's how you can easily yield 100%+ over the average offers.</p>

            </div>
            <div class="col-md-4" style="text-align: center; padding-top: 30px; ">
                <p><span class="glyphicons cart_out steps"></span></p>

                <h4>3. Sell items to vendors</h4>

                <p>We guide you through the process of selling your items to the buyers.</p><p>Few days after having shipped the items, you will receive your money from the buyer.</p>

            </div>
        </div>
        <h2 style="margin-top: 60px;">Sell used items and make easy money with Ryhm House</h2>
        <hr>
        <div class="footer-bottom">
            <footer>
                <div class="col-group">
                    <div class="footer-col-1">
                        <h4>Connect With Us</h4>
                        <div class="links">
                            <ul>
                                <li class="fb"><a href="#" target="_blank" title="Like Us on FB">Facebook</a></li>
                                <li class="inst"><a href="#" title="Follow Us on Inst" target="_blank">Instagram</a></li>
                                <li class="ytb"><a href="#" target="_blank" title="Subcribe Us on YTB">Youtube</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-col-2">
                        <h4>Support</h4>
                        <ul>
                            <li ><a href="#">Help</a></li>
                            <li><a href="#" >Contact Us</a></li>
                            <li ><a href="#" >Leave Feedback</a></li>
                        </ul>
                    </div>
                    <div class="footer-col-3">
                        <h4>Privacy</h4>
                        <ul>
                            <li ><a href="#">Privacy Policy</a></li>
                            <li><a href="#" >Terms Of Service</a></li>
                            <li ><a href="#" >Supplier Code of Conduct</a></li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="footer">
                    <div class="row">
                        <p class="pull-left">Copyright © 2019 Ryhm House. All rights reserved.</p>
                        <p class="pull-right">Designed by </p>
                    </div>
                </div>
            </footer>

        </div>
    </div>

    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>