<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">


</head>
<body>
<div class="container">
    <div class="header">
        <div class="myNav navbar-right">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a href="#" class="logo">
                    <img width="60px" src="/img/logoo.png" alt="">
                </a>
                <a class="navbar-brand" href="#">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="menu">
                        <ul class=" nav  navbar-right">
                            <li class="nav-item active">
                                <a class="nav-link" href="/client/CD" id="CD">CD <span class="sr-only">(current)</span></a>

                                <ul class="item-menu">
                                    <li><a href="">Just In</a></li>
                                    <li><a href="">Best Seller</a></li>
                                    <li><a href="">Clearance</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/client/DVD" id="dvd">DVD</a>

                                <ul class="item-menu">
                                    <li><a href="">Just In</a></li>
                                    <li><a href="">Best Seller</a></li>
                                    <li><a href="">Clearance</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/client/book" id="book">Book</a>

                                <ul class="item-menu">
                                    <li><a href="">Just In</a></li>
                                    <li><a href="">Best Seller</a></li>
                                    <li><a href="">Clearance</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="#" id="magazine">Magazine</a>

                                <ul class="item-menu">
                                    <li><a href="">Just In</a></li>
                                    <li><a href="">Best Seller</a></li>
                                    <li><a href="">Clearance</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">

                                <a href="#" class="nav-link" id="selling-cart"><i class="fas fa-cart-plus"></i>Selling Cart</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" id="checkout">Checkout</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </nav>
        </div>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="http://www.mondomusicamilano.it/uploads/2014/07/16/suonare%20in%20una%20band%20a%20milano.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://www.bostonmagazine.com/wp-content/uploads/sites/2/2012/12/rockconcert.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://png.pngtree.com/thumb_back/fw800/back_pic/03/74/97/6157bd123421d15.jpg" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="content">
        <section class="collapsible">
            <h3 class="section-title">
                DVDS
                <a href="/client/DVD" class="view-more">View More >></a>
            </h3>
            <div class="viewport row">
                <div class="item col-2">
                    <div class="popup-container">
                        <a href="https://www.secondspin.com/amgcover/dvd/small/w6/06/w60657p1bvl.jpg" class="product-image">
                            <img src="https://www.secondspin.com/amgcover/dvd/small/w6/06/w60657p1bvl.jpg" alt="">
                        </a>
                    </div>
                    <div class="title">
                        <a href="#" class="black-link">
                            NUN
                        </a>
                    </div>
                    <div class="price">
                        <del>$12.99</del>
                        <span class="red">$10.00</span>
                    </div>
                    <a href="#" class="add-to-cart">Add To Cart</a>
                </div>
                <div class="item col-2">
                    <div class="popup-container">
                        <a href="https://www.secondspin.com/amgcover/dvd/small/w5/77/w57713cl0xf.jpg" class="product-image">
                            <img src="https://www.secondspin.com/amgcover/dvd/small/w5/77/w57713cl0xf.jpg" alt="">
                        </a>
                    </div>
                    <div class="title">
                        <a href="#" class="black-link">
                            INCREDIBLES 2
                        </a>
                    </div>
                    <div class="price">
                        <del>$7.99</del>
                        <span class="red">$4.00</span>
                    </div>
                    <a href="#" class="add-to-cart">Add To Cart</a>
                </div>
                <div class="item col-2">
                    <div class="popup-container">
                        <a href="https://www.secondspin.com/amgcover/dvd/small/w6/07/w60740hkcs0.jpg" class="product-image">
                            <img src="https://www.secondspin.com/amgcover/dvd/small/w6/07/w60740hkcs0.jpg" alt="">
                        </a>
                    </div>
                    <div class="title">
                        <a href="#" class="black-link">
                            PREDATOR
                        </a>
                    </div>
                    <div class="price">
                        <del>$7.99</del>
                        <span class="red">$4.00</span>
                    </div>
                    <a href="#" class="add-to-cart">Add To Cart</a>
                </div>
                <div class="item col-2">
                    <div class="popup-container">
                        <a href="https://www.secondspin.com/amgcover/dvd/small/w1/94/w19492xdnwv.jpg" class="product-image">
                            <img src="https://www.secondspin.com/amgcover/dvd/small/w1/94/w19492xdnwv.jpg" alt="">
                        </a>
                    </div>
                    <div class="title">
                        <a href="#" class="black-link">
                            CREED
                        </a>
                    </div>
                    <div class="price">
                        <del>$7.99</del>
                        <span class="red">$4.00</span>
                    </div>
                    <a href="#" class="add-to-cart">Add To Cart</a>
                </div>
                <div class="item col-2">
                    <div class="popup-container">
                        <a href="https://www.secondspin.com/amgcover/dvd/small/w5/78/w57829tst7l.jpg" class="product-image">
                            <img src="https://www.secondspin.com/amgcover/dvd/small/w5/78/w57829tst7l.jpg" alt="">
                        </a>
                    </div>
                    <div class="title">
                        <a href="#" class="black-link">
                            ANT-MAN AND THE WASP
                        </a>
                    </div>
                    <div class="price">
                        <del>$7.99</del>
                        <span class="red">$4.00</span>
                    </div>
                    <a href="#" class="add-to-cart">Add To Cart</a>
                </div>
                <div class="item col-2">
                    <div class="popup-container">
                        <a href="https://www.secondspin.com/amgcover/dvd/small/v2/74/v27417kzkbb.jpg" class="product-image">
                            <img src="https://www.secondspin.com/amgcover/dvd/small/v2/74/v27417kzkbb.jpg" alt="">
                        </a>
                    </div>
                    <div class="title">
                        <a href="#" class="black-link">
                            HARRY POTTER: COMPLETE 8-FILM COLLECTION [8 DISCS]
                        </a>
                    </div>
                    <div class="price">
                        <del>$7.99</del>
                        <span class="red">$4.00</span>
                    </div>
                    <a href="#" class="add-to-cart">Add To Cart</a>
                </div>
            </div>
        </section>
        <section class="collapsible">
            <h3 class="section-title">
                CDS
                <a href="/client/CD" class="view-more">View More >></a>
            </h3>
            <div class="viewport row">
                <div class="item col-2">
                    <div class="popup-container">
                        <a href="https://www.secondspin.com/amgcover/music/small/y7/12/y71288s6cjd.jpg" class="product-image">
                            <img src="https://www.secondspin.com/amgcover/music/small/y7/12/y71288s6cjd.jpg" alt="">
                        </a>
                    </div>
                    <div class="title">
                        <a href="#" class="black-link">
                            FALLEN ANGELS
                        </a>
                    </div>
                    <div class="price">
                        <del>$7.99</del>
                        <span class="red">$4.00</span>
                    </div>
                    <a href="#" class="add-to-cart">Add To Cart</a>
                </div>
                <div class="item col-2">
                    <div class="popup-container">
                        <a href="https://www.secondspin.com/amgcover/music/small/h8/02/h80289jl30e.jpg" class="product-image">
                            <img src="https://www.secondspin.com/amgcover/music/small/h8/02/h80289jl30e.jpg" alt="">
                        </a>
                    </div>
                    <div class="title">
                        <a href="#" class="black-link">
                            OPEN DOOR
                        </a>
                    </div>
                    <div class="price">
                        <del>$7.99</del>
                        <span class="red">$4.00</span>
                    </div>
                    <a href="#" class="add-to-cart">Add To Cart</a>
                </div>
                <div class="item col-2">
                    <div class="popup-container">
                        <a href="https://www.secondspin.com/amgcover/music/small/f4/95/f49513gvo26.jpg" class="product-image">
                            <img src="https://www.secondspin.com/amgcover/music/small/f4/95/f49513gvo26.jpg" alt="">
                        </a>
                    </div>
                    <div class="title">
                        <a href="#" class="black-link">
                            SUBLIME
                        </a>
                    </div>
                    <div class="price">
                        <del>$7.99</del>
                        <span class="red">$4.00</span>
                    </div>
                    <a href="#" class="add-to-cart">Add To Cart</a>
                </div>
                <div class="item col-2">
                    <div class="popup-container">
                        <a href="https://www.secondspin.com/amgcover/music/small/91/28/91287esr07.jpg" class="product-image">
                            <img src="https://www.secondspin.com/amgcover/music/small/91/28/91287esr07.jpg" alt="">
                        </a>
                    </div>
                    <div class="title">
                        <a href="#" class="black-link">
                            REDUXER
                        </a>
                    </div>
                    <div class="price">
                        <del>$7.99</del>
                        <span class="red">$4.00</span>
                    </div>
                    <a href="#" class="add-to-cart">Add To Cart</a>
                </div>
                <div class="item col-2">
                    <div class="popup-container">
                        <a href="https://www.secondspin.com/amgcover/music/small/u8/18/u81806l1ghf.jpg" class="product-image">
                            <img src="https://www.secondspin.com/amgcover/music/small/u8/18/u81806l1ghf.jpg" alt="">
                        </a>
                    </div>
                    <div class="title">
                        <a href="#" class="black-link">
                            A.M
                        </a>
                    </div>
                    <div class="price">
                        <del>$7.99</del>
                        <span class="red">$4.00</span>
                    </div>
                    <a href="#" class="add-to-cart">Add To Cart</a>
                </div>
                <div class="item col-2">
                    <div class="popup-container">
                        <a href="https://www.secondspin.com/amgcover/music/small/f7/22/f72251gux2w.jpg" class="product-image">
                            <img src="https://www.secondspin.com/amgcover/music/small/f7/22/f72251gux2w.jpg" alt="">
                        </a>
                    </div>
                    <div class="title">
                        <a href="#" class="black-link">
                            GET RICH OR DIE TRYIN'
                        </a>
                    </div>
                    <div class="price">
                        <del>$7.99</del>
                        <span class="red">$4.00</span>
                    </div>
                    <a href="#" class="add-to-cart">Add To Cart</a>
                </div>
            </div>
        </section>

        <section class="collapsible">
            <h3 class="section-title">
                BOOKS
                <a href="/client/book" class="view-more">View More >></a>
            </h3>
            <div class="viewport row">
                <div class="item col-2">
                    <div class="popup-container">
                        <a href="https://powells-covers-2.s3.amazonaws.com/9781594633157.jpg" class="product-image">
                            <img src="https://powells-covers-2.s3.amazonaws.com/9781594633157.jpg" alt="">
                        </a>
                    </div>
                    <div class="title">
                        <a href="#" class="black-link">
                            The Heartbeat of Wounded Knee
                        </a>
                        <a href="#" class="artist">by David Treuer</a>
                    </div>
                    <div class="price">
                        <del>$7.99</del>
                        <span class="red">$4.00</span>
                    </div>
                    <a href="#" class="add-to-cart">Add To Cart</a>
                </div>
                <div class="item col-2">
                    <div class="popup-container">
                        <a href="https://covers.powells.com/9780061928178.jpg" class="product-image">
                            <img src="https://covers.powells.com/9780061928178.jpg" alt="">
                        </a>
                    </div>
                    <div class="title">
                        <a href="#" class="black-link">
                            Beautiful Ruins
                        </a>
                        <a href="#" class="artist">by Jess Walter</a>
                    </div>
                    <div class="price">
                        <del>$7.99</del>
                        <span class="red">$4.00</span>
                    </div>
                    <a href="#" class="add-to-cart">Add To Cart</a>
                </div>
                <div class="item col-2">
                    <div class="popup-container">
                        <a href="https://powells-covers-2.s3.amazonaws.com/9781623708030.jpg" class="product-image">
                            <img src="https://powells-covers-2.s3.amazonaws.com/9781623708030.jpg" alt="">
                        </a>
                    </div>
                    <div class="title">
                        <a href="#" class="black-link">
                            A Different Pond
                        </a>
                        <a href="#" class="artist">by Bao Phi and Thi Bui</a>
                    </div>
                    <div class="price">
                        <del>$7.99</del>
                        <span class="red">$4.00</span>
                    </div>
                    <a href="#" class="add-to-cart">Add To Cart</a>
                </div>
                <div class="item col-2">
                    <div class="popup-container">
                        <a href="https://powells-covers-2.s3.amazonaws.com/9780525521426.jpg" class="product-image">
                            <img src="https://powells-covers-2.s3.amazonaws.com/9780525521426.jpg" alt="">
                        </a>
                    </div>
                    <div class="title">
                        <a href="#" class="black-link">
                            Washington Black
                        </a>
                        <a href="#" class="artist">by Esi Edugyan</a>
                    </div>
                    <div class="price">
                        <del>$7.99</del>
                        <span class="red">$4.00</span>
                    </div>
                    <a href="#" class="add-to-cart">Add To Cart</a>
                </div>
                <div class="item col-2">
                    <div class="popup-container">
                        <a href="https://powells-covers-2.s3.amazonaws.com/9780399555770.jpg" class="product-image">
                            <img src="https://powells-covers-2.s3.amazonaws.com/9780399555770.jpg" alt="">
                        </a>
                    </div>
                    <div class="title">
                        <a href="#" class="black-link">
                            Skyward
                        </a>
                        <a href="#" class="artist">by Brandon Sanderson</a>
                    </div>
                    <div class="price">
                        <del>$7.99</del>
                        <span class="red">$4.00</span>
                    </div>
                    <a href="#" class="add-to-cart">Add To Cart</a>
                </div>
                <div class="item col-2">
                    <div class="popup-container">
                        <a href="https://powells-covers-2.s3.amazonaws.com/9780316390620.jpg" class="product-image">
                            <img src="https://powells-covers-2.s3.amazonaws.com/9780316390620.jpg" alt="">
                        </a>
                    </div>
                    <div class="title">
                        <a href="#" class="black-link">
                            Last Whalers Three Years in the Far Pacific with an Ancient Tribe & a Vanishing Way of Life
                        </a>
                        <a href="#" class="artist">by Doung Bock Clark</a>
                    </div>
                    <div class="price">
                        <del>$7.99</del>
                        <span class="red">$4.00</span>
                    </div>
                    <a href="#" class="add-to-cart">Add To Cart</a>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="clear"></div>

<div class="main-footer">
    <h2 style="margin-top: 60px;">It's that simple</h2>
    <hr>
    <div class="row" style="clear:both; margin-bottom: 30px;">
        <div class="col-md-4" style="text-align: center;padding-top: 30px; ">
            <p><span class="glyphicons cart_in steps"></span></p>
            <h4>1. Enter items</h4>

            <p>Take the items you want to sell and enter them into the search field in the upper part of the website. If you are interested in the sale you put the item into your selling cart.</p><p>If you want to sell several items use the bulk compare or our Barcode Scanner App.</p>

        </div>
        <div class="col-md-4" style="text-align: center; padding-top: 30px; ">
            <p><span class="glyphicons certificate steps"></span></p>

            <h4>2. Identify best buyers</h4>

            <p>In the shopping cart view, you can see the best buyers, paying you the highest prices for your entire selling cart.</p><p>That's how you can easily yield 100%+ over the average offers.</p>

        </div>
        <div class="col-md-4" style="text-align: center; padding-top: 30px; ">
            <p><span class="glyphicons cart_out steps"></span></p>

            <h4>3. Sell items to vendors</h4>

            <p>We guide you through the process of selling your items to the buyers.</p><p>Few days after having shipped the items, you will receive your money from the buyer.</p>

        </div>
    </div>
    <h2 style="margin-top: 60px;">Sell used items and make easy money with Ryhm House</h2>
    <hr>
    <div class="footer-bottom">
        <footer>
            <div class="col-group">
                <div class="footer-col-1">
                    <h4>Connect With Us</h4>
                    <div class="links">
                        <ul>
                            <li class="fb"><a href="#" target="_blank" title="Like Us on FB">Facebook</a></li>
                            <li class="inst"><a href="#" title="Follow Us on Inst" target="_blank">Instagram</a></li>
                            <li class="ytb"><a href="#" target="_blank" title="Subcribe Us on YTB">Youtube</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-col-2">
                    <h4>Support</h4>
                    <ul>
                        <li ><a href="#">Help</a></li>
                        <li><a href="#" >Contact Us</a></li>
                        <li ><a href="#" >Leave Feedback</a></li>
                    </ul>
                </div>
                <div class="footer-col-3">
                    <h4>Privacy</h4>
                    <ul>
                        <li ><a href="#">Privacy Policy</a></li>
                        <li><a href="#" >Terms Of Service</a></li>
                        <li ><a href="#" >Supplier Code of Conduct</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="footer">
                <div class="row">
                    <p class="pull-left">Copyright © 2019 Ryhm House. All rights reserved.</p>
                    <p class="pull-right">Designed by </p>
                </div>
            </div>
        </footer>

    </div>
</div>


    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</div>
</body>
</html>