<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CD</title>
    <link rel="stylesheet" href="/css/magazine.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
<div class="header container">
    <div class="myNav navbar-right">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a href="/client/home" class="logo">
                <img src="/img/logoo.png" alt="">
            </a>
            <a class="navbar-brand" href="/client/home">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="menu">
                    <ul class=" nav  navbar-right">
                        <li class="nav-item active">
                            <a class="nav-link" href="/client/CD" id="CD">CD <span class="sr-only">(current)</span></a>

                            <ul class="item-menu">
                                <li><a href="">Just In</a></li>
                                <li><a href="">Best Seller</a></li>
                                <li><a href="">Clearance</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/client/DVD" id="dvd">DVD</a>

                            <ul class="item-menu">
                                <li><a href="">Just In</a></li>
                                <li><a href="">Best Seller</a></li>
                                <li><a href="">Clearance</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/client/book" id="book">Book</a>

                            <ul class="item-menu">
                                <li><a href="">Just In</a></li>
                                <li><a href="">Best Seller</a></li>
                                <li><a href="">Clearance</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/client/magazine" id="magazine">Magazine</a>

                            <ul class="item-menu">
                                <li><a href="">Just In</a></li>
                                <li><a href="">Best Seller</a></li>
                                <li><a href="">Clearance</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">

                            <a href="#" class="nav-link" id="selling-cart"><i class="fas fa-cart-plus"></i>Selling Cart</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" id="checkout">Checkout</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </div>
</div>
<div class="main">
    <div class="inner-page container">
        <section class="main-clearfix">
            <h1 class="page-title">JUST IN</h1>
            <hr>
            <div class="just-in-box ">
                <div class="just-in-tab1">
                    <div class="filter-item">
                        <label>Sort by:</label>
                        <div class="select-container small">
                            <select name="sorttab1" class="select small-drop left">
                                <option value="10">Forbes Viet Nam</option>
                                <option value="11">Fashion & Life</option>
                                <option value="12">Marketing And Family</option>
                                <option value="13">Elle</option>
                                <option value="14">Childhood World</option>
                                <option value="15">Pretty</option>
                                <option value="16">Business</option>
                            </select>
                        </div>
                    </div>
                    <div class="filter-item">
                        <label>Price range:</label>
                        <div class="select-container x-small">
                            <select name="pricetab1" class="select small-drop left">
                                <option value="null">From</option>
                                <option value="0.00">0.00</option>
                                <option value="1.00">1.00</option>
                                <option value="2.00">2.00</option>
                                <option value="5.00">5.00</option>
                                <option value="10.00">10.00</option>
                                <option value="20.00">20.00</option>
                                <option value="30.00">30.00</option>
                            </select>
                        </div>
                    </div>
                    <div class="filter-item">
                        <label>&nbsp;</label>
                        <div class="select-container x-small">
                            <select name="pricetab1" class="select small-drop left">
                                <option value="null">To</option>
                                <option value="0.99">0.99</option>
                                <option value="1.99">1.99</option>
                                <option value="2.99">2.99</option>
                                <option value="5.99">5.99</option>
                                <option value="10.99">10.99</option>
                                <option value="20.99">20.99</option>
                                <option value="30.99">30.99</option>
                            </select>
                        </div>
                    </div>
                    <div class="filter-item">
                        <label>&nbsp; </label>
                        <input class="go" type="submit" value="Submit">
                    </div>
                </div>
            </div>
        </section>
    </div>
    <hr>
    <div class="clear"></div>
    <div class="content container" >
        <section class="collasible">
            <div class="overview row">
                <div class="item col-lg-2">
                    <div class="popup-container">
                        <a href="https://www.vinabook.com/images/thumbnails/product/240x/325697_p85937mscan0001.jpg" class="product-image">
                            <img src="https://www.vinabook.com/images/thumbnails/product/240x/325697_p85937mscan0001.jpg" alt="">
                        </a>
                    </div>
                    <div class="title">
                        <a href="#" class="black-link">
                            Forbes Việt Nam - Số 68
                        </a>
                    </div>
                    <div class="price">
                        <del class="sale">$7.99</del>
                        <span class="red">$4.00</span>
                    </div>
                    <a href="#" class="add-to-cart">Add To Cart</a>
                </div>
                <div class="item col-lg-2">
                    <div class="popup-container">
                        <a href="https://www.vinabook.com/images/thumbnails/product/240x/325699_p85936mscan0003.jpg" class="product-image">
                            <img src="https://www.vinabook.com/images/thumbnails/product/240x/325699_p85936mscan0003.jpg" alt="">
                        </a>
                    </div>
                    <div class="title">
                        <a href="#" class="black-link">
                            Tiếp Thị & Gia Đình - Số 1
                        </a>
                    </div>
                    <div class="price">
                        <del class="sale">$7.99</del>
                        <span class="red">$4.00</span>
                    </div>
                    <a href="#" class="add-to-cart">Add To Cart</a>
                </div>
                <div class="item col-lg-2">
                    <div class="popup-container">
                        <a href="https://www.vinabook.com/images/thumbnails/product/240x/317684_p84940mdoanhnhan.jpg" class="product-image">
                            <img src="https://www.vinabook.com/images/thumbnails/product/240x/317684_p84940mdoanhnhan.jpg" alt="">
                        </a>
                    </div>
                    <div class="title">
                        <a href="#" class="black-link">
                            Doanh Nhân - Số 22
                        </a>
                    </div>
                    <div class="price">
                        <del class="sale">$7.99</del>
                        <span class="red">$4.00</span>
                    </div>
                    <a href="#" class="add-to-cart">Add To Cart</a>
                </div>
                <div class="item col-lg-2">
                    <div class="popup-container">
                        <a href="https://www.vinabook.com/images/thumbnails/product/240x/313688_p84464mdep.jpg" class="product-image">
                            <img src="https://www.vinabook.com/images/thumbnails/product/240x/313688_p84464mdep.jpg" alt="">
                        </a>
                    </div>
                    <div class="title">
                        <a href="#" class="black-link">
                            Đẹp - Số 23
                        </a>
                    </div>
                    <div class="price">
                        <del class="sale">$7.99</del>
                        <span class="red">$4.00</span>
                    </div>
                    <a href="#" class="add-to-cart">Add To Cart</a>
                </div>
                <div class="item col-lg-2">
                    <div class="popup-container">
                        <a href="https://www.vinabook.com/images/thumbnails/product/240x/322597_p85556mscan0002.jpg" class="product-image">
                            <img src="https://www.vinabook.com/images/thumbnails/product/240x/322597_p85556mscan0002.jpg" alt="">
                        </a>
                    </div>
                    <div class="title">
                        <a href="#" class="black-link">
                            Không Gian Phong Cách - Elle
                        </a>
                    </div>
                    <div class="price">
                        <del class="sale">$7.99</del>
                        <span class="red">$4.00</span>
                    </div>
                    <a href="#" class="add-to-cart">Add To Cart</a>
                </div>
                <div class="item col-lg-2">
                    <div class="popup-container">
                        <a href="https://www.vinabook.com/images/thumbnails/product/240x/326884_p86109mscan0001.jpg" class="product-image">
                            <img src="https://www.vinabook.com/images/thumbnails/product/240x/326884_p86109mscan0001.jpg" alt="">
                        </a>
                    </div>
                    <div class="title">
                        <a href="#" class="black-link">
                            Phái Đẹp - Elle - Số 10
                        </a>
                    </div>
                    <div class="price">
                        <del class="sale">$7.99</del>
                        <span class="red">$4.00</span>
                    </div>
                    <a href="#" class="add-to-cart">Add To Cart</a>
                </div>
            </div>
            <div class="box-bottom clearfix">
                <div class="page-number">
                    <a href="#" class="button prev "><i class="fas fa-angle-double-left"></i></a>
                    &nbsp;
                    <strong>1</strong>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">6</a>
                    <a href="#">7</a>
                    <a href="#">8</a>
                    <a href="#">...</a>
                    &nbsp;
                    <a href="#" class="button next"><i class="fas fa-angle-double-right"></i></a>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="clear"></div>

<div class="main-footer">
    <h2 style="margin-top: 60px;">It's that simple</h2>
    <hr>
    <div class="row" style="clear:both; margin-bottom: 30px;">
        <div class="col-md-4" style="text-align: center;padding-top: 30px; ">
            <p><span class="glyphicons cart_in steps"></span></p>
            <h4>1. Enter items</h4>

            <p>Take the items you want to sell and enter them into the search field in the upper part of the website. If you are interested in the sale you put the item into your selling cart.</p><p>If you want to sell several items use the bulk compare or our Barcode Scanner App.</p>

        </div>
        <div class="col-md-4" style="text-align: center; padding-top: 30px; ">
            <p><span class="glyphicons certificate steps"></span></p>

            <h4>2. Identify best buyers</h4>

            <p>In the shopping cart view, you can see the best buyers, paying you the highest prices for your entire selling cart.</p><p>That's how you can easily yield 100%+ over the average offers.</p>

        </div>
        <div class="col-md-4" style="text-align: center; padding-top: 30px; ">
            <p><span class="glyphicons cart_out steps"></span></p>

            <h4>3. Sell items to vendors</h4>

            <p>We guide you through the process of selling your items to the buyers.</p><p>Few days after having shipped the items, you will receive your money from the buyer.</p>

        </div>
    </div>
    <h2 style="margin-top: 60px;">Sell used items and make easy money with Ryhm House</h2>
    <hr>
    <div class="footer-bottom">
        <footer>
            <div class="col-group">
                <div class="footer-col-1">
                    <h4>Connect With Us</h4>
                    <div class="links">
                        <ul>
                            <li class="fb"><a href="#" target="_blank" title="Like Us on FB">Facebook</a></li>
                            <li class="inst"><a href="#" title="Follow Us on Inst" target="_blank">Instagram</a></li>
                            <li class="ytb"><a href="#" target="_blank" title="Subcribe Us on YTB">Youtube</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-col-2">
                    <h4>Support</h4>
                    <ul>
                        <li ><a href="#">Help</a></li>
                        <li><a href="#" >Contact Us</a></li>
                        <li ><a href="#" >Leave Feedback</a></li>
                    </ul>
                </div>
                <div class="footer-col-3">
                    <h4>Privacy</h4>
                    <ul>
                        <li ><a href="#">Privacy Policy</a></li>
                        <li><a href="#" >Terms Of Service</a></li>
                        <li ><a href="#" >Supplier Code of Conduct</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="footer">
                <div class="row">
                    <p class="pull-left">Copyright © 2019 Ryhm House. All rights reserved.</p>
                    <p class="pull-right">Designed by </p>
                </div>
            </div>
        </footer>

    </div>
</div>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>