*{
    font-family: Tahoma;
}

.logo img {
    width: 150px;
}

.nav-item .nav-link {
    padding-right: 40px;
    color: black;
}


.item-menu {
    padding-left: 0;
    border: 5px;
}
.item-menu li a{
    margin: 10px;
}
.menu ul li {
    text-align: center;
    display: block;
    position: relative;
    /*width: 150px;*/
}
.menu ul li a {
    text-decoration: none;
    display: block;
    color: black;
}
.menu ul li a:hover {
    color: grey;
    opacity: 0.8;
}
.menu ul li > .item-menu {
    display: none;
    position: absolute;
    z-index: 999;
    background: white;
    width: 100px;
}
.menu ul li:hover .item-menu {
    display: block;
}


.just-in-tab1 .filter-item {
    display: inline-flex;
    padding-left: 10px;
    /*float: left;*/
}

.select.small-drop.left {
    position: relative;
    width: 100px;
    height: 31px;
    border-radius: 7px;
    cursor: pointer;
    text-align: justify-all;
}

.go{
    background: #00e765;
    color: white;
    width: 100px;
    height: 31px;
    border-radius: 7px;
}

.item a img {
    height: 150px;
    width: 150px;
}

.item {
    margin-top:20px ;
    /*margin-left: 50px;*/
    float: left;
}

.clear {
    clear: both;
}

/*#selling-cart {*/
/*float: left;*/
/*}*/

.red {
    color: red;
}

.black-link{
    color: black;
    font-family: 'Oswald', Arial ;
    display: inline-block;
    text-transform: uppercase;
}

.artist {
    font-size: 10px;
    display: inline-block;
}

.add-to-cart {
    color: #00e765;
    text-transform: uppercase;
}
/*
*/

.box-bottom {
    margin-top: 10px;
}
.page-number {
    float: right;
}

.page-number .prev {
    display: inline-block;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

/*
 */
h2 {
    font-size: 32px;
    text-align: center;
    font-weight: 300;
}

footer .footer-col-1, .footer-col-2, .footer-col-3 {
    width: 29%;
    display: inline-table;
    padding-left: 10%;
}

footer .footer-col-1 h4, .footer-col-2 h4, .footer-col-3 h4 {
    color: black;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0;
    margin-bottom: 16px;
    text-align: justify-all;
}

footer .footer-col-1 li, .footer-col-2 li, .footer-col-3 li {
    display: inline-table;
    padding: 10px 0;
    margin: 0;
    width: 100%;
    text-align: justify-all;
    font-size: 20px;
    line-height: 14px;
}

.footer {
    background: #D6D6D0;
    padding-top: 10px;
}


.row:after {
    clear: both;
}

.footer p {
    color: #363432;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-left: 15px;
    text-align: center;
}

.pull-left {
    padding-left: 500px;
}