.carousel-item img {
    height: 500px;
    padding-top: 50px;

}

.nav-item .nav-link {
    padding-right: 40px;
}


.item-menu {
    padding-left: 0;
}

.menu ul li {
    text-align: center;
    display: block;
    position: relative;
    /*width: 150px;*/
}
.menu ul li a {
    text-decoration: none;
    display: block;
    color: dodgerblue;
}
.menu ul li a:hover {
    color: grey;
    opacity: 0.8;
}
.menu ul li > .item-menu {
    display: none;
    position: absolute;
    z-index: 999;
    background: white;
    width: 100px;
}
.menu ul li:hover .item-menu {
    display: block;
}

h2 {
    font-size: 32px;
    text-align: center;
    font-weight: 300;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

span.steps {
    color: #ff8c52;
    font-size: 60px;
}
.glyphicons {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Regular';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}

footer .footer-col-1, .footer-col-2, .footer-col-3 {
    width: 29%;
    display: inline-table;
    padding-left: 14%;
}

footer .footer-col-1 h4, .footer-col-2 h4, .footer-col-3 h4 {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0;
    margin-bottom: 16px;
}

footer .footer-col-1 li, .footer-col-2 li, .footer-col-3 li {
    display: inline-table;
    padding: 10px 0;
    margin: 0;
    width: 100%;
    line-height: 10px;
    font-size: 14px;
    line-height: 14px;
}

.footer {
    background: #D6D6D0;
    padding-top: 10px;
}


.row:after {
    clear: both;
}

.footer p {
    color: #363432;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-left: 15px;
    text-align: center;
}

.pull-left {
    padding-left: 500px;
}


.item a img {
    height: 150px;
    width: 150px;
}

.item {
    margin-top:20px ;
    /*margin-left: 50px;*/
    float: left;
}

.clear {
    clear: both;
}

i {
    float: left;
    margin-top: 5px;
}
#selling-cart {
    float: left;
}

.red {
    color: red;
}

.black-link{
    display: inline-block;
}

.artist {
    font-size: 10px;
    display: inline-block;
    color: black;
}